{% extends "master.html" %}

{% block contentpage %}
<h3 class="text-center">Object detection run on a specific image</h3>
<div class="text-center">
    Original: <img class="img_content" src="{{ img_url }}"  alt="First slide"/>
</div>
<div class="text-center">
    MobileNet: <img class="img_content" src="{{ img_url }}" alt="First slide"/>
</div>
<form id="goback_form" action="/img_carousel?car_item={{ img_id }}" method="post">
    <div class="text-center" style="margin-top:10px;">
        <button type="submit" class="btn btn-lg btn-success">Go back to carousel</button>
    </div>
</form>
{% endblock %}
